@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Sansation";
  src: url("../src/fonts/Sansation-Bold.ttf");
}
/* @import url("../src/fonts/Sansation-Regular.ttf"); */

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

/* Utility Classes */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Card Section */

.header-container {
  background-image: url("./assets/nav_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  color: white;
  width: 100%;
  height: 70vh;
  background-color: aqua;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 104px;
  margin-top: 20px;
  width: 82vw;
}

.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* .navbar-logo > img {
  width: 60px;
  height: 60px;
} */

.navbar-logo > h1 {
  justify-content: center;
  align-items: center;
  font-weight: 400;
}

.navbar-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.navbar-profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-heading {
  width: 724px;
  height: 245px;
  margin: auto;
  margin-top: 55px;
}

.main-heading > h1 {
  text-align: center;
  font-size: 3.5rem;
  font-family: "Sansation", sans-serif;
  font-style: normal;
  font-weight: 900;
  line-height: 128%;
  text-align: center;
  letter-spacing: 0.085em;
}

.main-heading > p {
  width: 500px;
  height: 50px;
  margin: auto;
  margin-top: 20px;
  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 149.69%;
  text-align: center;
  letter-spacing: 0.07em;
}

.main-heading > button {
  width: 217.83px;
  height: 58.82px;
  border: none;
  background: #d97122;
  border-radius: 43.0686px;
  margin-top: 40px;
  font-family: "Poppins" sans-serif;
  font-size: 18px;
  color: white;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
}

.header-list-items {
  width: 60vw;
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-top: 80px;
}

.header-list-items > .flex > p {
  text-align: start;
  width: 140px;
  height: 40px;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #f4f4f4;
  margin: auto;
  margin-left: 10px;
}

.heading-dot {
  margin: auto;
  margin-top: 50px;
  gap: 10px;
}

.dot-solid {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #d97122;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #d97122;
}
