@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

@font-face {
  font-family: "Sansation";
  src: url("../src/fonts/Sansation-Bold.ttf");
}
/* @import url("../src/fonts/Sansation-Regular.ttf"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility Classes */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Card Section */

.header-container {
  background-image: url("./assets/nav_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  color: white;
  width: 100%;
  height: 70vh;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 104px;
  margin-top: 20px;
  width: 82vw;
}

.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* .navbar-logo > img {
  width: 60px;
  height: 60px;
} */

.navbar-logo > h1 {
  justify-content: center;
  align-items: center;
  font-weight: 400;
}

.navbar-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.navbar-profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-heading {
  width: 724px;
  height: 245px;
  margin: auto;
  margin-top: 55px;
}

.main-heading > h1 {
  text-align: center;
  font-size: 3.5rem;
  font-family: "Sansation", sans-serif;
  font-style: normal;
  font-weight: 900;
  line-height: 128%;
  text-align: center;
  letter-spacing: 0.085em;
}

.main-heading > p {
  width: 500px;
  height: 50px;
  margin: auto;
  margin-top: 20px;
  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 149.69%;
  text-align: center;
  letter-spacing: 0.07em;
}

.main-heading > button {
  width: 217.83px;
  height: 58.82px;
  border: none;
  background: #d97122;
  border-radius: 43.0686px;
  margin-top: 40px;
  font-family: "Poppins" sans-serif;
  font-size: 18px;
  color: white;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
}

.header-list-items {
  width: 60vw;
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-top: 80px;
}

.header-list-items > .flex > p {
  text-align: start;
  width: 140px;
  height: 40px;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #f4f4f4;
  margin: auto;
  margin-left: 10px;
}

.heading-dot {
  margin: auto;
  margin-top: 50px;
  gap: 10px;
}

.dot-solid {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #d97122;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #d97122;
}

/* User Testimonials section */

.user-testimonial {
  width: 80vw;
  margin: auto;
  height: 135vh;
  background-color: #ffefe3;
}

.user-testimonial > img {
  margin-top: 25px;
}

.user-testimonial-title {
  margin-top: 30px;
  gap: 20px;
}

.user-testimonial-title > h1 {
  text-align: center;
  font-size: 2rem;
  color: #d97122;
  font-family: "Sansation", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

.img-banner {
  width: 100%;
  margin-top: 50px;
}

.user-testimonial-dot {
  margin: auto;
  margin-top: 10px;
  gap: 10px;
}
/* Video Carousel */

.video-carousel {
  width: 80%;
  height: 400px;
  margin: auto;
  margin-top: 30px;
}

.arrow-container {
  display: flex;
  gap: 34px;
  justify-content: center;
  cursor: pointer;
  margin-top: 20px;
}
.slider-container {
  position: relative;
}

.image-container {
  overflow: hidden;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out, z-index 0.3s ease-in-out;
  z-index: 0;
}
.image-container.active {
  opacity: 1;
  z-index: 2;
  transform: scale(1.2);
}

.slick-current .image-container {
  opacity: 1;
  z-index: 1;
}

.image-container {
  position: relative;
}

.play-btn-cont {
  position: absolute;
  margin-top: -200px;
  margin-left: 100px;
}

/* Media Query for tablets */

@media only screen and (max-width: 992px) {
  .slick-slide {
    width: 100% !important;
  }
  .slick-list {
    margin: 0 auto !important;
  }
  .slick-track {
    display: flex !important;
  }
  .slick-arrow {
    display: none !important;
  }
  .slick-slide div {
    margin: 0 !important;
  }
}

/* Cards Section */

.card-container {
  margin: auto;
  max-width: 80vw;
  padding-bottom: 30px;

  background-color: #ffefe3;
}

.card-section {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.card {
  height: 440px;
  flex-basis: 370px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-color: #d3d5df;
  cursor: pointer;
  box-shadow: -1px 5px 10px 5px rgba(42, 42, 42, 0.2);
}

.contact {
  position: absolute;
  margin-left: 30px;
  margin-top: 370px;
  z-index: 2;
}

.card-exp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  /* margin-left: 49px; */
}

.status-cont {
  position: absolute;
  color: #ffffff;
  z-index: 5;
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-left: 250px;
}
.status-cont img {
  position: absolute;
  margin-left: 30px;
}

.detail-box {
  display: flex;
  flex-direction: column;
  text-align: start;
  color: #ffffff;
  margin-left: 19px;
  margin-top: 150px;
}
.title-flex {
  display: flex;
  width: 100%;
}

.title {
  font-weight: 600;
  font-size: 22.24px;
  line-height: 33px;
  color: white;
  font-family: "Poppins", sans-serif;
}

.detail-box div p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 21px;
  color: #ffdbc0;
  mix-blend-mode: normal;
  letter-spacing: 1px;
  margin-top: 5px;
}

.detail-box div span {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  line-height: 24px;
  mix-blend-mode: normal;
}

.price-box {
  margin-top: 250px;
  color: #5ce449;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.price-box .price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}
.price-min {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "DM Sans";
}
.price-min > span.rupee {
  font-weight: 700;
  font-size: 30px !important;
}
.price span.min {
  font-weight: 700;
  font-size: 18px !important;
}

.card > img {
  width: 100%;
}

/* Solutions Section */

.solutions-container {
  width: 80vw;
  height: 100vh;
  margin: auto;
  background-color: white;
}

.solutions-container > div > img {
  width: 80.1vw;
  margin: auto;
}

.solutions-container-title {
  width: 550px;
  margin: auto;
  margin-top: 50px;
}

.solutions-container-title > h1 {
  text-align: center;
  font-size: 2rem;
  color: #d97122;
  font-family: "Sansation", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

.solutions-container-title > img {
  width: 27px !important;
}

.solutions {
  margin-top: 30px;
  gap: 100px;
}
.solution-boxs {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.solution-box {
  width: 215px;
  height: 65px;
  border: 2px solid #a95210;
  border-radius: 8px;
}

.solution-image {
  /* justify-content: start; */
  width: 37%;
  height: 100%;
  background-color: #d97122;
}

.middle-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sun-image {
  position: absolute;
  /* left: 50;
  top: 50; */
}
.solution-text {
  text-align: start;
  width: 60%;
  margin-left: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 141.5%;
  /* or 20px */

  letter-spacing: 0.085em;

  color: #6b6b6b;
}

.texture {
  margin-top: 90px;
}

/* Rotate Image */

.rotate-image {
  animation: rotate 20s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.footer-container {
  width: 100vw;
  height: 500px;
  background-color: #d97122;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.footer-container-inner {
  width: 90vw;
  display: flex;
  justify-content: space-around;
}

.footer-column-1 {
  text-align: start;
  width: 19vw;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 138.5%;
  letter-spacing: 0.105em;
  color: #f8f8f8;
}

.footer-column-1 > h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-socials {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
.payments > img {
  margin-right: 10px;
}

.footer-column-2 {
  text-align: start;
}
.footer-column-3 {
  text-align: start;
}

.company > h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 110%;
  letter-spacing: 0.105em;
  color: #f8f8f8;
  margin-top: 30px;
  margin-bottom: 15px;
}
.company > p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: 0.105em;
  color: #f8f8f8;
  margin-bottom: 10px;
}

.collaborate > h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 110%;
  letter-spacing: 0.105em;
  color: #f8f8f8;
  margin-top: 20px;
  margin-bottom: 15px;
}

.collaborate > p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: 0.105em;
  color: #f8f8f8;
  margin-bottom: 10px;
}

.footer-column-4 {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.footer-column-4 > input {
  width: 343px;
  height: 42px;
  margin-bottom: 10px;
}

.footer-column-4 > .write-query {
  height: 80px;
}

.footer-column-4 > button {
  width: 345px;
  height: 48px;

  background: #4b9c0c;
  border: 1px solid #4b9c0c;
  border-radius: 6px;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.105em;
  text-transform: uppercase;
}
